# Set these values in your shell before running Django.
POSTGRES_DB=canteen_ai
POSTGRES_USER=your_postgresql_username
POSTGRES_PASSWORD=your_postgresql_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
